* {
    white-color: #eceff4;
    black-color: #2e3440;
    green-color: #05be70;
    dark-green-color: #049a5b;

    icon-size: 24px;

    /*
        svg paths
     */
    gear-icon: "M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z";
    copy-icon: "M168.506,0H80.235C67.413,0,56.981,10.432,56.981,23.254v2.854h-15.38 c-12.822,0-23.254,10.432-23.254,23.254v137.492c0,12.822,10.432,23.254,23.254,23.254h88.271 c12.822,0,23.253-10.432,23.253-23.254V184h15.38c12.822,0,23.254-10.432,23.254-23.254V23.254C191.76,10.432,181.328,0,168.506,0z M138.126,186.854c0,4.551-3.703,8.254-8.253,8.254H41.601c-4.551,0-8.254-3.703-8.254-8.254V49.361 c0-4.551,3.703-8.254,8.254-8.254h88.271c4.551,0,8.253,3.703,8.253,8.254V186.854z M176.76,160.746 c0,4.551-3.703,8.254-8.254,8.254h-15.38V49.361c0-12.822-10.432-23.254-23.253-23.254H71.981v-2.854 c0-4.551,3.703-8.254,8.254-8.254h88.271c4.551,0,8.254,3.703,8.254,8.254V160.746z";
    pen-icon: "m401.648438 18.234375c-24.394532-24.351563-63.898438-24.351563-88.292969 0l-22.101563 22.222656-235.269531 235.144531-.5.503907c-.121094.121093-.121094.25-.25.25-.25.375-.625.746093-.871094 1.121093 0 .125-.128906.125-.128906.25-.25.375-.371094.625-.625 1-.121094.125-.121094.246094-.246094.375-.125.375-.25.625-.378906 1 0 .121094-.121094.121094-.121094.25l-52.199219 156.96875c-1.53125 4.46875-.367187 9.417969 2.996094 12.734376 2.363282 2.332031 5.550782 3.636718 8.867188 3.625 1.355468-.023438 2.699218-.234376 3.996094-.625l156.847656-52.324219c.121094 0 .121094 0 .25-.121094.394531-.117187.773437-.285156 1.121094-.503906.097656-.011719.183593-.054688.253906-.121094.371094-.25.871094-.503906 1.246094-.753906.371093-.246094.75-.621094 1.125-.871094.125-.128906.246093-.128906.246093-.25.128907-.125.378907-.246094.503907-.5l257.371093-257.371094c24.351563-24.394531 24.351563-63.898437 0-88.289062zm-232.273438 353.148437-86.914062-86.910156 217.535156-217.535156 86.914062 86.910156zm-99.15625-63.808593 75.929688 75.925781-114.015626 37.960938zm347.664062-184.820313-13.238281 13.363282-86.917969-86.917969 13.367188-13.359375c14.621094-14.609375 38.320312-14.609375 52.945312 0l33.964844 33.964844c14.511719 14.6875 14.457032 38.332031-.121094 52.949218zm0 0";
    marker-icon: "m497.513 90.178-43.213-46.814c-20.73-22.458-55.528-24.106-78.296-3.868-297.349 264.31-254.507 225.808-267.95 239.251-17.673 17.674-24.887 43.716-18.825 67.964 3.806 15.226-.722 31.577-11.816 42.676l-72.933 71.935c-9.52 9.39-2.863 25.679 10.533 25.679h97c3.978 0 7.793-1.58 10.606-4.393l24-24c11.101-11.1 27.457-15.63 42.683-11.823 24.484 6.121 50.468-1.328 67.964-18.825 13.355-13.355-24.686 27.9 240.426-262.067 19.604-21.439 19.554-54.337-.179-75.715zm-391.713 366.823h-54.217l36.358-35.86 26.859 26.86zm90.779-39.32c-20.462-5.116-42.145-1.203-59.479 10.194l-28.96-28.96c11.397-17.333 15.309-39.016 10.194-59.479-3.377-13.508.339-27.976 9.707-38.194l106.732 106.732c-10.217 9.367-24.685 13.084-38.194 9.707zm278.974-272.031-220.025 240.653-105.659-105.659 246.066-218.726c10.5-9.332 26.794-8.528 36.322 1.795 0-.1-.223-.242 43.212 46.814 9.221 9.99 9.258 25.09.084 35.123z";
    line-icon: "M0.322,1.905c-0.429-0.429-0.429-1.143,0-1.571c0.444-0.444,1.143-0.444,1.587,0l39.252,39.253 c0.444,0.444,0.444,1.143,0,1.587c-0.429,0.429-1.143,0.429-1.571,0L0.322,1.905z";
    arrow-icon: "M232.873,160.242c-5.606-2.321-12.058-1.038-16.347,3.252l-15.91,15.91L25.607,4.394  c-5.858-5.858-15.356-5.858-21.213,0c-5.858,5.858-5.858,15.355,0,21.213l175.01,175.01l-15.91,15.91  c-4.29,4.29-5.573,10.742-3.252,16.347c2.322,5.605,7.792,9.26,13.858,9.26h53.033c8.284,0,15-6.716,15-15V174.1  C242.133,168.033,238.478,162.563,232.873,160.242z";
    rectangle-icon: "M497,51H15C6.716,51,0,57.716,0,66v380c0,8.284,6.716,15,15,15h482c8.284,0,15-6.716,15-15V66 C512,57.716,505.284,51,497,51z M482,431H30V81h452V431z";
    oval-icon: "M435.204,126.967C387.398,94.1,324.11,76,257,76c-67.206,0-130.824,18.084-179.138,50.922C27.652,161.048,0,206.889,0,256 c0,49.111,27.652,94.952,77.862,129.078C126.176,417.916,189.794,436,257,436c67.11,0,130.398-18.1,178.204-50.967 C484.727,350.986,512,305.161,512,256S484.727,161.014,435.204,126.967z M418.208,360.312C375.354,389.774,318.103,406,257,406 c-61.254,0-118.884-16.242-162.273-45.733C52.986,331.898,30,294.868,30,256s22.986-75.898,64.727-104.267 C138.116,122.242,195.746,106,257,106c61.103,0,118.354,16.226,161.208,45.688C459.345,179.97,482,217.015,482,256 S459.345,332.03,418.208,360.312z";
    eraser-icon: "M290.422,79.244L220.034,8.857c-11.794-11.795-30.986-11.795-42.78,0C175.866,10.245,12.971,173.14,8.867,177.244 c-11.822,11.821-11.824,30.957,0,42.78l70.388,70.388c11.821,11.822,30.957,11.824,42.78,0 c1.046-1.046,165.357-165.357,168.388-168.388C302.244,110.203,302.246,91.066,290.422,79.244z M110.367,278.744 c-5.374,5.373-14.071,5.373-19.446,0l-70.388-70.388c-5.373-5.374-5.375-14.071,0-19.446l34.61-34.61l89.834,89.834 L110.367,278.744z M278.755,110.357l-122.111,122.11l-89.833-89.833l122.11-122.111c5.374-5.374,14.071-5.374,19.446,0 l70.388,70.388C284.129,96.285,284.129,104.983,278.755,110.357z";
}

.root {
    -fx-background-color: black-color;
    -fx-text-fill: white-color;
}

.label {
    -fx-text-fill: white-color;
}
/*
    General
 */

/*
    Buttons
 */

.btn,
.menu-item {
    -fx-pref-height: 30;
    -fx-max-height: -fx-pref-height;
    -fx-min-height: -fx-pref-height;
    -fx-pref-width: 90;
    -fx-max-width: -fx-pref-width;
    -fx-min-width: -fx-pref-width;
    -fx-background-color: green-color;
    -fx-text-fill: white-color;
}

.btn:hover {
    -fx-background-color: dark-green-color;
    -fx-cursor: hand;
}

.btn-icon {
    -fx-pref-width: 30;
    -fx-max-width: -fx-pref-width;
    -fx-min-width: -fx-pref-width;
    -fx-pref-height: 30;
    -fx-max-height: -fx-pref-height;
    -fx-min-height: -fx-pref-height;
}


/*
================================================
    Main Window
================================================
 */

#mainWindowPane {
    -fx-padding: 0;
}

#settingsButton {
    -fx-background-color: #434c5e;
    -fx-text-fill: #d8dee9;
}

#settingsButton:hover {
    -fx-background-color: #3b4252;
}

.context-menu {
    -fx-pref-width: inherit;
    -fx-background-color: green-color;
}

.menu-item:hover {
    -fx-background-color: dark-green-color;
    -fx-cursor: hand;
}

#toolbox .btn {
    -fx-padding: 3 3 3 3;
}

.button-bar,
#toolbox {
    -fx-pref-height: 50;
    -fx-padding: 10px 20px;
    -fx-spacing: 10px;
}

#toolbox,
#screenNameContainer {
    -fx-alignment: center;
}

#screenNameField {
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
}

/*
================================================
    Main Window
================================================
 */

/*
    icons
 */

.icon {
    -fx-background-color: white-color;
    -fx-min-height: icon-size;
    -fx-min-width: icon-size;
    -fx-max-width: icon-size;
    -fx-max-height: icon-size;
}

#settingsButtonIcon {
    -fx-shape: gear-icon;
}

#copyButtonIcon {
    -fx-shape: copy-icon;
}

#pencilToolButtonIcon {
    -fx-shape: pen-icon;
}

#markerToolButtonIcon {
    -fx-shape: marker-icon;
}

#lineToolButtonIcon {
    -fx-shape: line-icon;
}

#arrowToolButtonIcon {
    -fx-shape: arrow-icon;
}

#rectangleToolButtonIcon {
    -fx-shape: rectangle-icon;
}

#ovalToolButtonIcon {
    -fx-shape: oval-icon;
}

#eraserToolButtonIcon {
    -fx-shape: eraser-icon;
}